VITE_FIREBASE_API_KEY="AIzaSyCl0LdOOzPeLP96h8ovTLv20NUCwnYoVn0"
VITE_FIREBASE_AUTH_DOMAIN="gstock-6b79e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gstock-6b79e"
VITE_FIREBASE_STORAGE_BUCKET="gstock-6b79e.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="167181890252"
VITE_FIREBASE_APP_ID="1:167181890252:web:d74205855598a42ca6c869"
VITE_MASTER_ADMIN_EMAIL="admin2026@suzano.com"
